.navbar-form-custom
  width: 80%

.bordered
  border: 1px solid #ccc!important

.navbar-form-custom
  .form-control
    height: 40px
    border-radius: 5px
    margin-top: 10px
.nav
  &.navbar-right
    float: right

.note-editable
  background-color: #fff
  border-radius: 4px
  border: 1px solid #eee
  min-height: 200px

.modal-dialog
  max-width: 640px

.ui-jqgrid
  tr.jqgrow
    td
      white-space: normal

.bigger-120
  font-size: 120%

.bigger-140
  font-size: 140%

.datepicker.datepicker-dropdown
  z-index: 99999 !important

.upload
  background-color: #1ab394
  color: white
  -moz-user-select: none
  background-image: none
  border: 1px solid #1ab394
  border-radius: 4px
  cursor: pointer
  display: inline-block
  font-size: 14px
  font-weight: normal
  line-height: 1.42857
  margin-bottom: 0
  padding: 6px 0px
  vertical-align: middle
  white-space: nowrap
  width: 50%
  height: 40px
  text-align: left
  i
    margin-left: 12px

.upload
  input#file
    display: block !important
    width: 100%
    height: 40px
    opacity: 0
    margin-top: -27px
    cursor: pointer

.navbar-collapse
  padding-left: 0
  padding-right: 0

li.dropdown > a
  border: 1px solid #e5e6e7
  padding-top: 6px !important
  padding-bottom: 6px !important
  width: 100%
  text-align: right
  background-color: #fff!important

li.dropdown
  a
    color: #676a6c !important
    font-weight: normal!important
    font-size: 14px
    &:hover
      border-color: #1ab394 !important

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus
  border-color: #1ab394 !important

.navbar-right
  a
    color: $darkGray!important

.metismenu
  li
    a
      &:focus, &:hover
        background-color: #1ab394!important


.nav
  &.navbar-nav
    width: 100%
    li
      width: 100%

  > li
    > a
      color: #eaeaea

#drop1 > span
  float: left

.navbar-nav
  margin: 0
  > li
    > .dropdown-menu
      width: 100%


.list-success
  background-color: #62FF90

.list-warning
  background-color: #FFD967

.list-danger
  background-color: #ff4b41

.list-super-danger
  background-color: #ff0019

.ui-autocomplete
  z-index: 10000
  .ui-menu-item
    padding: 5px
    .ui-corner-all
      padding: 5px
      display: block

.ui-jqgrid
  .ui-jqgrid-sdiv
    .footrow
      height: 55px


.upload
  p
    color: $gray


@media (max-width: 767px)
  .navbar-nav
    .open
      .dropdown-menu
        box-shadow: 0 0 3px rgba(86, 96, 117, 0.7)!important
        background-color: #fff!important