h1, h2, h3, h4, h5, h6
  font-weight: 600

h1
  font-size: 28px

h2
  font-size: 24px

h3
  font-size: 20px

h4
  font-size: 18px

h5
  font-size: 16px

h6
  font-size: 14px

h3, h4, h5
  margin-top: 5px
